{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

<main>
    <h1>FICHA</h1>
    <div class="card mb-3" style="max-width: auto">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="/media/{{ imagen }}"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">{{ nombre }}</h1>
            <h5 class="card-text precio_ficha">{{ html_estado|safe }} </h5>
            <h1 class="card-text">{{ html_precio|safe }}</h1>
            <p class="card-text">
                {{ descripcion }}
            </p>
            <p class="card-text">
              <small class="text-body-secondary"></small>{{ html_stock|safe }}
            </p>
            <div>
                <input type="hidden" id="accion">
                <a href="{% url 'comprar_ahora' %}" class="btn btn-primary ancho-160px"> 
                    Comprar ahora 
                </a>
                <a href="{% url 'agregar_producto_al_carrito' id %}" class="btn btn-primary ancho-160px"> 
                    Agregar al carrito 
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

    <form method="post" id="formulario-ficha">

        {% csrf_token %}

        <div>
         <br>
         <br>
         <br>
          <br>
          <br>
          <br>
        </div>
        
        
    </form>

{% endblock content %}

{% block script %}
    <script src="{% static 'core/js/ficha.js' %}"></script>
{% endblock script %}
